tabulate==0.9.0
pandas==2.3.3
matplotlib==3.10.8
seaborn==0.13.2
langchain-experimental==0.4.1
streamlit==1.52.2
langchain==0.3.27
langchain-community==0.3.30
langchain-google-genai==2.1.12
openpyxl==3.1.5